@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-container {
    flex-grow: 1;
  }

  .button {
    background: #756157;
    border-radius: 4px;
    color: #ffffff;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .button:hover,
  .button:focus {
    background: #615048;
  }

  .button:active {
    background:#756157;
    color: rgba(255, 255, 255, 0.3);
  }

  .button:disabled {
    background: #E5E5E5;
    color: #ffffff;
  }

  .container {
    margin: 0 auto;
    width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  /*Хедер*/
  .page-header {
    color: #000000;
    background-color: #ffffff;
    width: 1200px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0 70px;
  }

  .navigation-logo {
    position: relative;
    margin-bottom: -6px;
    z-index: 1;
  }

   .navigation-list {
    width: 370px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 46px;
  }

  .navigation-user {
    margin-left: auto;
  }

  .navigation-user-list {
    max-width: 370px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin: 0;
    padding: 0;
  }

  .navigation-item {
    padding: 22px 12px;
  }

  .number-favorites {
    position: absolute;
    bottom: 11px;
    left: 8px;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 10px;
    padding: 5px;
  }

  .navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    position: relative;
  }

  .navigation-link-current {
    position: relative;
  }

  .navigation-link-current::before {
    content: '';
    background-color: #756257;
    height: 2px;
    bottom: -1px;
    top: 43px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  .button-header {
    width: 160px;
    height: 36px;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 34px;
    margin-left: 20px;
  }

  /*Главная*/
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #2f4552;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero::after {
    content: url(../images/divider.svg);
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
  }

 /*Приемущества*/
 .advantades {
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.advantades h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  padding-top: 70px;
  margin: 0;
}

.advantades p {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 69px;
}

.advantades-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantsdes-object {
  width: 230px;
  text-align: center;
  margin: 100px 85px;
}

.advantades-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0;
}

.advantades-item p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.advantades-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantades-item-wide {
  width: 100%;
  color: #ffffff;
  display: flex;
  background-color: #82B3D3;
}

.advantades-item-wide h3 {
  color: #ffffff;
}

.advantades-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin-top: 0;
}

.advantades-title::after {
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.advantades-item-wide h3::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantades-item-picture {
  display: flex;
}

  /*Достоинства*/
  .dignity {
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

  .dignity h2 {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding-top: 64px;
    margin: 0;
  }

  .dignity p {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 64px;
  }

  .dignity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dignity-item {
    background-color: rgba(131, 179, 211, 0.12);
    color: #333333;
    width: 400px;
    min-height: 385px;
    padding: 81px 85px;
  }

  .dignity-item:nth-child(even) {
    background-color: #ffffff;
  }

  .dignity-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .dignity-picture {
    margin-bottom: 30px;
  }

  .dignity-item p {
    margin: 0;
    padding: 0;
  }

  /*Поиск гостиницы*/
  .hotel-search {
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    padding: 96px 304px;
  }

  .hotel-search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .hotel-search-discription {
    font-size: 22px;
    line-height: 26px;
  }

  .button-hotel-search {
    width: 376px;
    height: 52px;
    align-items: center;
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
  }

  /* Подписаться*/
  .subscribe {
    background-image: url(../images/subscribe.jpg);
    width: 1200px;
    height: 415px;
    color:#ffffff;
    background-color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .subscribe-blok {
    padding-top: 96px;
  }

  .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .subscribe-discription {
    font-size: 22px;
    line-height: 26px;
  }

  .subscribe-form {
    display: flex;
    justify-content:center;
  }

  .field {
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    height: 52px;
    background: #F2F2F2;
    border-radius: 4px 0 0 4px;
    border: none;
    padding: 0;
    padding-left: 20px;
  }

  .button-subscribe {
    align-items: center;
    width: 232px;
    height: 52px;
    background: #82B3D3;
    border-radius: 0 4px 4px 0;
    font-size: 20px;
    line-height: 36px;
    border: none;
    padding: 0;
  }

  .button-subscribe:hover,
  .button-subscribe:focus {
    background: #68A2CA;
  }

  .button-subscribe:active {
    background: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
  }

  /*Футер*/
  .page-footer {
    color: #333333;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 120px;
  }

  .page-footer-container {
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
  }

  .footer-contacts-address-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  .footer-social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .footer-social-item {
    display: flex;
    flex-wrap: wrap;
    width: 48px;
    height: 40px;
  }

  .footer-social-link {
    padding: 13px 12px;
  }

  .footer-social-icon path{
    fill: #83b3d3;
  }

  .footer-social-icon:hover path,
  .footer-social-icon:focus path {
    fill: #68a2ca;
  }

  .footer-social-icon:active path {
    fill: rgba(104, 162, 202, 0,3);
  }

  .footer-contacts-address-phone:hover,
  .footer-contacts-address-phone:focus {
    color: #756157;
  }

  .footer-contacts-address-phone:active {
    color: rgba(117, 97, 87, 0.3);
  }

  .page-footer-logo:hover path,
  .page-footer-logo:focus path{
    fill: #756157;
  }

  .page-footer-logo:active path {
    fill: rgba(117, 97, 87, 0.3);
  }

  /*Модальное окно*/
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
  }

  /*.modal-container-close {
    display: none;
  }*/

  .modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    z-index: 2;
  }

  .modal-auth {
    width: 720px;
  }

  .modal-close-button {
    position: absolute;
    padding: 16px;
    top: 64px;
    right: 52px;
    width: 52px;
    height: 52px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: none;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .modal-close-button:hover {
    background-color: rgba(230, 230, 230, 1);
  }

  .modal-close-button:focus {
    outline: 3px solid rgba(131, 179, 211, 1);
  }

  .modal-close-button:active {
    opacity: 0,3;
  }

  .modal-title {
    margin: 0;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
  }

  .modal-flex {
    width: 577px;
    display: flex;
  }

  .form-label {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-transform: capitalize;
    padding-top: 12px;
  }

  .input {
    width: 440px;
    height: 48px;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    color: #000000;
    padding: 0;
    padding-left: 20px;
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    background-position: 402px 16px;
  }

  .modal-data-arrival {
    display: flex;
    justify-content: space-between;
  }

  .modal-data-departure {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .form-label-departure {
    padding-right: 18px;
  }

  .text-data-arrival {
    color: #ff5757;
    font-size: 16px;
    line-height: 21px;
    margin-top: 4px;
    margin-left: 137px;
    padding-left: 20px;
  }

  .text-data-departure {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-top: 4px;
    margin-left: 137px;
    padding-left: 20px;
  }

  .modal-button {
    background-color: #F2F2F2;
    width: 40px;
    height: 48px;
    border: none;
  }

  .minus {
    border-radius: 4px 0 0 4px;
    margin-left: 46px;
  }

  .plus {
    border-radius: 0 4px 4px 0;
  }

  .persons-input {
    width: 31px;
    height: 48px;
    background-color: #f2f2f2;
    border: none;
    padding: 14px 10px;
  }

  .modal-adults {
    display: flex;
  }

  .modal-children {
    display: flex;
  }

  .signs {
    fill: rgba(117, 97, 87, 0.3);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.info-button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #82B3D3;
  border: none;
  padding: 0;
  margin-top: 11px;
  margin-left: 10px;
  position: relative;
}

.info-svg {
  margin: 7px 12px;
}

.modal-submit {
  width: 577px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  border-radius: 10px;
  margin-top: 48px;
}

.modal-submit:hover,
.modal-submit:focus {
  background: #68A2CA;
}

.modal-submit:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.persons {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.persons-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.popover-content {
  width: 256px;
  min-height: 143px;
  background-color: #333333;
  border-radius: 10px;
  position: absolute;
  bottom: 25px;
  right: 112px;
}

.popover-content::after {
  content: '';
  position: absolute;
  bottom: 143px;
  left: 116px;
  border: 9px solid transparent;
  border-bottom: 9px solid #333333;
}

.popover-title {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 22px;
  padding-right: 18px;
  align-items: center;
  margin: 0;
}
