@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
  }

  .button {
    background: #756157;
    border-radius: 4px;
    color: #ffffff;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .container {
    margin: 0 auto;
    width: 1200px;
  }

  /*Хедер*/
  .page-header {
    color: #000000;
    background-color: #ffffff;
    width: 1200px;
  }

  .navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
  }

  .button-header {
    width: 160px;
    height: 36px;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }

  /*Главная*/
  .hero {
    color: #000000;
    background-color: #ffffff;
    background-image: url(../images/divider.svg), url("../images/index-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
    background-position: bottom center, center;
  }

  /*Приемущества*/
  .advantades {
    text-align: center;
    color: #333333;
    background-color: #ffffff;
  }

  .advantades h2 {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
  }

  .advantades p {
    font-size: 22px;
    line-height: 26px;
  }

  .advantades-item {
    background-color: #82B3D3;
    color: #ffffff;
    width: 400px;
    height: 384px;
  }

  .advantades-item-square,
  .advantades-item-tourist {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
  }

  .advantades-item-road {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000;
  }

  .advantades-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .advantades-discription-square,
  .advantades-discription-road,
  .advantades-discription-tourist {
    color: #333333;
  }

  /*Достоинства*/
  .dignity {
    text-align: center;
    color: #333333;
    background-color: #ffffff;
  }

  .dignity h2 {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
  }

  .dignity p {
    font-size: 22px;
    line-height: 26px;
  }
  .dignity-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
  }

  /*Поиск гостиницы*/
  .hotel-search {
    text-align: center;
    color: #333333;
  }

  .hotel-search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .hotel-search-discription {
    font-size: 22px;
    line-height: 26px;
  }

  .button-hotel-search {
    width: 376px;
    height: 52px;
    align-items: center;
    font-size: 20px;
    line-height: 36px;
  }

  /* Подписаться*/
  .subscribe {
    background-image: url(../images/subscribe.jpg);
    width: 1200px;
    height: 415px;
    color:#ffffff;
    background-color: #000000;
    text-align: center;
  }

  .subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .subscribe-discription {
    font-size: 22px;
    line-height: 26px;
  }

  .button-subscribe {
    align-items: center;
    width: 232px;
    height: 52px;
    background: #82B3D3;
    border-radius: 0 4px 4px 0;
    font-size: 20px;
    line-height: 36px;
  }

  /*Футер*/
  .page-footer {
    color: #333333;
    background-color: #ffffff;
  }

  .footer-contacts-address-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
