@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #f2f2f2;
  }

  .page-header {
    color: #000000;
    background-color: #ffffff;
    width: 1200px;

  }

  .navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
  }

  .main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .advantades {
    text-align: center;
  }

  .advantades-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .dignity {
    text-align: center;
  }

  .dignity-title {
     font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .hotel-search {
    text-align: center;
  }
